.feature{
	background: #11749e;
	padding:100px 0 130px 0;

	.feature__heading{
		text-align: center;
		position: relative;
		margin-bottom: 70px;

		span{
			font-size: 1560%;
			color:#5993b2;
		}
		p{
			color:#fff;
			font-size: 238%;
			text-transform: uppercase;
			position: absolute;
			top:45%;
			left:28%;
		}

	}
	.feature__col{
		width:23%;
		display: inline-block;
		margin-left:1%;
		margin-right: 1%;

		&:nth-child(1){
			margin-left:0px;
		}
		&:nth-child(4){
			margin-right: 0px;
		}
		.featureIcon_container{
			text-align: center;
		}
		i{
			font-size: 200%;
			color:#fff;
			padding: 50px;
			border-radius:50%;
			background:#2e85aa;
			text-align: center;
		}
		h2{
			margin: 20px 0 35px 0;
			color:#fff;
			text-transform: uppercase;
			text-align: center;
			font-size: 112.5%;
		}
		p{
			font-size: 93.75%;
			color:#fff;
			line-height: 120%;
			text-align: justify;
		}
	}


}